:root {
    --primary: #3C91E6;
    
    --secondary: #3784D1;

    --ternary: #FFBA41;
    --ternary-lighter: #F9F871;
    --ternary-darker: #FF7149;

    --text: #03000d;
    --text-light: #a7a6ab;
    --text-lightest: #f0f0f5;

    --header: var(--primary);
    --header-text: #f5f6f7;

    --card-border-color: #e3e3e3;
    --bottom-card-background: var(--secondary);
    --bottom-card-button: #38608F;

    --fab-background: var(--ternary);

    --tab-sheet-background: #fff;

    --dismiss-hint-color: #dedede;

    --loader-progress-color: var(--primary);

}