:root {
    /* Variables for generic sizing */
    --padding: 10px;
    --margin: 10px;
    
    --button-padding: 10px 30px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Roboto";
    font-weight: 400;
}

p {
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;

    top: 0;
    left: 0;

    width: 100%;
    height: 55px;
    
    background-color: var(--header);
    color: var(--header-text);
}

.header .menu-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.header p {
    font-size: 1.1rem;
}

.header-spacing {
    height: 55px;
}

.button {
    padding: var(--button-padding);
    font-size: 1.1rem;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 5px 0;
}

.button.button-primary {
    background-color: var(--primary);
    color: var(--text-lightest);
}

.button.button-light {
    background-color: var(--ternary);
    color: var(--text);
}

.card.bottom-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    min-height: 250px;

    background-color: var(--bottom-card-background);
    color: var(--text-lightest);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 5px -2px rgba(50,50,50,0.30),0px 0px 5px -2px rgba(50, 50, 50, 0.25);
}

.card.bottom-card > .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80%;
}

.card.bottom-card > .card-body {
    box-sizing: border-box;
    padding: 0 var(--padding);
}

.card.bottom-card .card-content {
    text-align: center;
}

.card.bottom-card card-footer {
    width: 100%;
    height: 20%;
}

.card.bottom-card .card-footer .button-signin {
    position: relative;
    height: 100%;
    width: 100%;

    background-color: var(--bottom-card-button);
    color: #e6edf5;
}

.card.card-category {
    position: relative;
    width: 100%;
    padding: 2px 15px;
    box-sizing: border-box;
    border-bottom: solid 1px var(--card-border-color);
}

.callback-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 55px);

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    box-sizing: border-box;

    text-align: center;
    font-size: .9rem;
}

img {
    position: relative;
    max-width: 100%;
}

.fab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    width: 3.4rem;
    height: 3.4rem;
    border-radius: 100px;

    background-color: var(--fab-background);
    box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.4),0px 0px 6px 0px rgba(59, 59, 59, 0.19);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fab .icon {
    width: 1.7rem;
    height: 1.7rem;

    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.icon.plus-open {
    transform: rotate(0deg);
}

.icon.plus-close {
    transform: rotate(225deg);
}

.tab-trigger {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tab {
    width: 100%;
}

.tab.tab-sheet {
    position: fixed;
    display: flex;
    flex-flow: column;
    align-items: center;

    height: calc(100% - 55px - 20px);
    bottom: 0;
    left: 0;

    background-color: var(--tab-sheet-background);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: 0px 0px 6px 0px rgba(59, 59, 59, 0.19);

    transition: all cubic-bezier(0.16, 1, 0.3, 1) .3s;
}

.tab.tab-sheet.invisible {
    bottom: -100%;
}

.tab.tab-sheet.visible {
    bottom: 0;
}

.tab.tab-sheet .dismiss-handler {
    position: relative;
    width: 100%;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dismiss-handler .dismiss-hint {
    position: relative;
    width: 50px;
    height: 5px;

    border-radius: 100px;

    background-color: var(--dismiss-hint-color);
}

.form-container {
    position: relative;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.form-container .submission-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(240, 240, 240, .5);

    width: 100%;
    height: 100%;
}

.input-field {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.input-field input {
    font-family: "Roboto";

    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 1.1rem;
    
    border: none;
    outline: none;

    box-shadow: 0px 2px 0px -1px rgba(55, 132, 209, 1);

    transition: box-shadow .2s cubic-bezier(0.16, 1, 0.3, 1);
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;

    transform: translateY(-50%);
    transform-origin: left;

    transition: all cubic-bezier(0.16, 1, 0.3, 1) .3s;
}

.input-field input:focus {
    box-shadow: 0px 4px 0px -1px rgba(55, 132, 209, 1);
}

.input-field input:focus + label, 
.input-field input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.7);
}

.input-field .max-length-hint {
    font-size: .7rem;

    position: absolute;
    bottom: -5px;
    transform: translateY(100%);
    right: 5px;
}

.loader.linear {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #cfd1d4;
    overflow: hidden;
}

.loader.linear .loader-progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--loader-progress-color);
    transform-origin: center;
    width: 10px;
    animation: linear-loader-infinite 1.2s ease-in-out infinite;
}

@keyframes linear-loader-infinite {
    0% {
        left: 0;
        transform: translateX(-100%) scaleX(1);
    }
    50% {
        transform: scaleX(20);
    }
    100% {
        left: 100%;
        transform: translateX(0) scaleX(1);
    }
}